@model IEnumerable<PortfolioProjectMVC.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h5>
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </h5>
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.TotalPages)
                    </h5>
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.AuthorId)
                    </h5>
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.PublisherId)
                    </h5>
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.GenreId)
                    </h5>
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
